@charset "UTF-8";

/*! μΈν„°λ„· : page/internet.scss */
.internetContentSec .inner > [class^=tab-] {
	margin-top: 20px; }

.internetContentSec .inner .offerSec {
	margin-top: 10px; }

.internetContentSec .paperSec {
	padding-top: 15px;
	text-align: center; }
