@charset "UTF-8";

/*! 악세사리 리스트 아이템 : module/accItem.scss */
.mod-accItem {
	width: 150px; }
	.mod-accItem .thumb {
		width: 150px;
		height: 150px; }
		.mod-accItem .thumb > img {
			width: 150px;
			height: 150px; }
	.mod-accItem label {
		display: block;
		width: 100%;
		text-align: center; 
		font-size: 12px;
		font-family: "dotum";
		color: #333;
		line-height: 1.5;}
	.mod-accItem .act {
		padding-top: 15px; 
		text-align: center;}
		.mod-accItem .act * {
			vertical-align: middle; }
		.mod-accItem .act [type=checkbox] {
			width: 20px;
			height: 20px; }
		.mod-accItem .act a {
			display: inline-block;
			padding-left: 5px; }

/*! IE8 수정 */
.mod-accList {
	margin: 0 auto;
	width: 100%;
	overflow: hidden; }
	.mod-accList.type-5up {
		max-width: 850px; }
		.mod-accList.type-5up .mod-accItem:nth-child(5n+1) {
			margin-left: 0; }
		.mod-accList.type-5up .mod-accItem:nth-child(-n+5) {
			margin-top: 0; }
	.mod-accList.type-6up {
		max-width: 1075px; }
		.mod-accList.type-6up .mod-accItem {
			margin-left: 35px; }
			.mod-accList.type-6up .mod-accItem:nth-child(6n+1) {
				margin-left: 0; }
			.mod-accList.type-6up .mod-accItem:nth-child(-n+6) {
				margin-top: 0; }
	.mod-accList .mod-accItem {
		float: left;
		margin-top: 25px;
		margin-left: 25px; }
		.mod-accList .mod-accItem:first-child {
			margin-left: 0; }
		.mod-accList .mod-accItem.no-nthchild-left {
			margin-left: 0; }
		.mod-accList .mod-accItem.no-nthchild-top {
			margin-top: 0; }

/*! // IE8 수정 */
