@charset "UTF-8";

/*! 버튼 모듈 */
.btn, .btn > span {
	display: inline-block; 
	line-height: 1;}

.btn.btn-goto, .btn.btn-more {
	border-radius: 5px;
	font-size: 16px; 
	color: #fff;}

.btn.btn-goto, .btn.btn-more, .btn.btn-round {
	margin: 0px 5px; 
	border-radius: 5px;}

.btn, .btn.btn-agree > span, .btn.btn-close > span, .btn.btn-more > span, .btn.btn-save > span, .btn > span {
	display: inline-block; }

.btn {
	padding: 5px 15px 8px; }

.btn.btn-goto {
	background-color: #cc0066; }

.btn.btn-goto.popup {
	background-color: #888; }

.btn.btn-more {
	padding-right: 5px; 
	background-color: #3e87ac;}

.btn.btn-more > span {
	padding-right: 20px;
	background: url(/images/common/bul/bulMoreArrow.png) right 1px no-repeat; }

.btn.btn-agree {
	border-radius: 5px; 
	background-color: #3162a2;
	font-size: 16px;
	color: #fff;}

.btn.btn-close, .btn.btn-list, .btn.btn-search {
	border-radius: 5px; 
	background-color: #898989;
	color: #fff;}

.btn, .btn.btn-agree > span, .btn.btn-close > span, .btn.btn-more > span, .btn.btn-save > span, .btn > span {
	display: inline-block; }

.btn.btn-list, .btn.btn-search {
	font-size: 14px; }

.btn.btn-list > span, .btn.btn-search > span {
	display: inline-block;
	padding: 0 5px; }

.btn.btn-close {
	font-size: 16px; }

.btn.btn-close > span {
	padding: 0 10px; }

.btn.btn-save {
	border-radius: 5px; 
	background-color: #3162a2;
	font-size: 14px;
	color: #fff;}

.btn.btn-save > span {
	padding: 0 5px; }

/*! 버튼영역 모듈 */
.btnSec {
	padding-top: 15px; }

.btnSec.btn-center {
	text-align: center; }

.btnSec.btn-right {
	text-align: right; }

/*! 컴포넌트 : 고객센터 타이틀 */
.component-customer-title {
	position: relative;
	margin-top: 30px;
	width: 100%;
	height: 40px;
	overflow: hidden; }

.component-customer-title h3 {
	width: 100%;
	height: 34px;
	border-bottom: 1px solid #bcbcbc; }

.component-customer-title h3 span {
	font-weight: 700;
	font-size: 26px;
	color: #ff3f3f;
	line-height: 1; }

.component-customer-title .tabSec {
	position: absolute;
	top: 0;
	right: 0; }

.component-customer-title .tabSec > li {
	display: inline-block;
	margin-left: 2px;
	padding-bottom: 5px; }

.component-customer-title .tabSec > li > a {
	display: inline-block;
	box-sizing: border-box;
	padding-top: 5px;
	width: 90px;
	height: 35px;
	border: 1px solid #bcbcbc;
	text-align: center; 
	font-size: 13px;
	color: #676767;}

.component-customer-title .tabSec > li.on {
	background: url(../images/board/bulBoardTabArrow.gif) center bottom no-repeat; }

.component-customer-title .tabSec > li.on > a {
	border: 1px solid #4b4b4b;
	background: #4b4b4b; 
	color: #fff;}

/*! 컴포넌트 : 고객센터용 게시판 리스트(공통) */
.component-customer-list {
	position: relative;
	padding-top: 20px;
	width: 100%;
	overflow: hidden; }

.component-customer-list table.listTable {
	width: 100%;
	table-layout: fixed; }

.component-customer-list table.listTable > thead th {
	padding-bottom: 10px;
	border-bottom: 2px solid #afafaf;
	text-align: center;
	font-size: 13px;
	color: #333;
	line-height: 1; }

.component-customer-list table.listTable > thead th.title {
	border-bottom: 2px solid #e04500; }

.component-customer-list table.listTable > tbody td {
	padding: 8px 0;
	border-bottom: 1px solid #d0d0d0;
	line-height: 1.1; }

.component-customer-list table.listTable > tbody td.index {
	text-align: center; }

.component-customer-list table.listTable > tbody td.title a {
	display: inline-block;
	max-width: 98%;
	overflow: hidden;
	vertical-align: middle; 
	text-overflow: ellipsis;
	white-space: nowrap;
	zoom: 1;}

.component-customer-list table.listTable > tbody td.title a.notice {
	color: #ff4800; }

.component-customer-list table.listTable > tbody td.title * {
	vertical-align: middle; }

.component-customer-list table.listTable > tbody td.date, .component-customer-list table.listTable > tbody td.file, .component-customer-list table.listTable > tbody td.writer {
	text-align: center; }

.component-customer-list table.listTable > tbody td.colspan {
	padding: 15px 0;
	text-align: center; }

/*! 컴포넌트 : 고객센터용 게시판 리스트(FAQ) */
/*! 컴포넌트 : 고객센터용 게시판 페이징 */
.component-customer-paging {
	padding-top: 20px;
	width: 100%;
	text-align: center; }

.component-customer-paging * {
	vertical-align: top; }

.component-customer-paging .numSec {
	display: inline-block; }

.component-customer-paging .numSec > a:first-child > span {
	border-left: 0; }

.component-customer-paging a {
	display: inline-block;
	box-sizing: border-box;
	height: 20px;
	font-size: 11px; }

.component-customer-paging a > span {
	display: inline-block;
	text-align: center; 
	line-height: 1;}

.component-customer-paging a.num {
	padding-top: 3px; }

.component-customer-paging a.num > span {
	padding: 0 9px 0 13px;
	height: 12px;
	overflow: hidden; 
	border-left: 1px solid #333;}

.component-customer-paging a.first {
	background: url(../images/board/bulPaging.gif) no-repeat; }

.component-customer-paging a.prev {
	background: url(../images/board/bulPaging.gif) -20px 0 no-repeat; }

.component-customer-paging a.next {
	background: url(../images/board/bulPaging.gif) -40px 0 no-repeat; }

.component-customer-paging a.last {
	background: url(../images/board/bulPaging.gif) -60px 0 no-repeat; }

.component-customer-paging a.first, .component-customer-paging a.last, .component-customer-paging a.next, .component-customer-paging a.prev {
	width: 20px; }

.component-customer-paging a.first > span, .component-customer-paging a.last > span, .component-customer-paging a.next > span, .component-customer-paging a.prev > span {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0; }

/*! 컴포넌트 : 고객센터용 게시판 상세 */
.component-customer-view {
	padding-top: 20px;
	width: 100%;
	overflow: hidden; }

.component-customer-view > table.viewTable {
	width: 100%;
	border-top: 2px solid #e04500; 
	table-layout: fixed;}

.component-customer-view > table.viewTable > tbody > tr > td, .component-customer-view > table.viewTable > tbody > tr > th {
	padding: 7px 0;
	border-bottom: 1px solid #d0d0d0; 
	font-size: 13px;}

.component-customer-view > table.viewTable > tbody > tr > th {
	text-align: center; }

/*! 컴포넌트 : 고객센터용 게시판 쓰기 */
.component-customer-write {
	padding-top: 20px;
	width: 100%;
	overflow: hidden; }

.component-customer-write > table.viewTable {
	width: 100%;
	border-top: 2px solid #e04500; 
	table-layout: fixed;}

.component-customer-write > table.viewTable > tbody > tr > td, .component-customer-write > table.viewTable > tbody > tr > th {
	padding: 7px 0;
	border-bottom: 1px solid #d0d0d0; 
	font-size: 13px;}

.component-customer-write > table.viewTable > tbody > tr > th {
	text-align: center; }

.component-customer-write input[type=password].text, .component-customer-write input[type=text].text, .component-customer-write textarea.textarea {
	border: 1px solid #666; }

.component-customer-write > table.viewTable > tbody > tr > td p {
	padding-bottom: 5px; }

.component-customer-write > table.viewTable > tbody > tr > td table {
	border: 1px solid #333; }

.component-customer-write > table.viewTable > tbody > tr > td td, .component-customer-write > table.viewTable > tbody > tr > td th {
	border: 1px solid #333; }

/*! 고객센터 페이지 */
.customerWrap .contentTopBnrSec {
	padding-bottom: 10px; }

.customerWrap .customerTitleSec {
	padding-top: 10px;
	min-height: 24px; 
	width: 100%;
	overflow: hidden;}

.customerWrap .customerTitleSec h4 {
	float: left;
	padding-left: 20px;
	background: url(../images/board/icoRedCircle.gif) 0 50% no-repeat; 
	font-weight: 700;
	font-size: 22px;
	color: #ff3f3f;
	line-height: 1;}

.customerWrap .customerTitleSec .component-customer-searchForm {
	float: right; }

/*! 컴포넌트 : 검색영역 */
.component-customer-searchForm > label {
	padding-right: 15px;
	font-size: 13px; }

.component-customer-searchForm > select {
	height: 25px; }

.component-customer-searchForm > input {
	box-sizing: border-box;
	height: 25px; }
