@charset "UTF-8";

/*! LNB 요금계산기 : module/lnb.scss */
.writeInfomationSec {
	width: 315px;
	border: 1px solid #d3d3d3;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	color: #666; }
	.writeInfomationSec h2.tit {
		padding-top: 13px;
		height: 52px;
		background-color: #1091d0; 
		text-align: center;
		font-size: 24px;
		color: #fff;}
	.writeInfomationSec .tac {
		box-sizing: border-box;
		margin-top: 5px;
		padding: 5px 15px;
		width: 100%;
		border-bottom: 1px solid #dadada;
		font-family: "dotum"; }
		.writeInfomationSec .tac:after, .writeInfomationSec .tac:before {
			display: table;
			content: "";
			line-height: 0; }
		.writeInfomationSec .tac:after {
			clear: both; }
		.writeInfomationSec .tac dt {
			float: left;
			font-weight: 700; 
			font-size: 14px;}
		.writeInfomationSec .tac dd {
			float: right;
			text-align: right;
			font-weight: 700; 
			font-size: 12px;}
	.writeInfomationSec .text-md {
		font-size: 14px !important; }
	.writeInfomationSec .text-minus {
		color: #ff3301 !important; }
	.writeInfomationSec .text-interest {
		color: #006ff9; }
	.writeInfomationSec .desc {
		padding-top: 3px;
		text-align: right;
		font-size: 11px;
		color: #ff725d; }
	.writeInfomationSec .help {
		position: relative; 
		vertical-align: middle;}

.writeInfomationSec .itemThumb {
	position: relative;
	width: 313px;
	height: 368px;
	overflow: hidden; }
	.writeInfomationSec .itemThumb > img {
		width: 313px;
		height: 368px; }
	.writeInfomationSec .itemThumb > a.detail {
		position: absolute;
		top: 305px;
		left: 90px; }

.writeInfomationSec .itemReqeust {
	padding-bottom: 25px; }
	.writeInfomationSec .itemReqeust h3 {
		padding-left: 24px;
		background: url(../images/common/icoBlackCircle.gif) 10px 50% no-repeat;
		font-weight: 700;
		font-size: 16px;
		color: #666; }
	.writeInfomationSec .itemReqeust .telecomInfoSec {
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 22px;
		width: 260px;
		background: url(../images/common/bulPlus.gif) center bottom no-repeat; 
		font-family: "dotum";}
	.writeInfomationSec .itemReqeust .deviceInfoSec {
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 40px;
		width: 260px;
		background: url(../images/common/bulEqual.gif) center bottom no-repeat; 
		font-family: "dotum";}
	.writeInfomationSec .itemReqeust .spec {
		box-sizing: border-box;
		margin-top: 5px;
		padding: 10px 10px;
		width: 100%;
		height: 36px;
		overflow: hidden;
		border-radius: 5px; 
		background: #8f8f8f;}
		.writeInfomationSec .itemReqeust .spec dt {
			float: left;
			letter-spacing: -1px; 
			font-weight: 700;
			font-size: 14px;
			color: #fff;}
		.writeInfomationSec .itemReqeust .spec dd {
			float: right;
			text-align: right;
			font-weight: 700; 
			font-size: 14px;
			color: #fff;}
	.writeInfomationSec .itemReqeust .total {
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 5px;
		padding: 6px 10px;
		width: 260px;
		height: 57px;
		overflow: hidden;
		border-radius: 5px; 
		background: #8f8f8f;}
		.writeInfomationSec .itemReqeust .total dt {
			float: left;
			text-align: center;
			font-weight: 700;
			font-size: 16px;
			color: #fff;
			line-height: 1.4; }
		.writeInfomationSec .itemReqeust .total dd {
			float: right;
			padding-top: 8px;
			vertical-align: baseline; 
			text-align: right;
			font-size: 14px;
			color: #fff;}
		.writeInfomationSec .itemReqeust .total dd > strong {
			font-size: 22px; }

.writeInfomationSec .happyPoint .point {
	margin: 0 auto;
	padding: 13px 0;
	width: 284px;
	border-bottom: 1px solid #d3d3d3;
	text-align: center;
	font-weight: 400; 
	font-size: 22px;
	color: #000;}
	.writeInfomationSec .happyPoint .point > i {
		color: #ff0000; }
	.writeInfomationSec .happyPoint .point.type-noBorder {
		padding-bottom: 0; 
		border-bottom: 0;}

.writeInfomationSec .happyPoint .desc {
	margin: 0 auto;
	padding: 10px 0;
	padding-left: 18px;
	width: 275px;
	text-align: left;
	text-indent: -18px;
	font-size: 15px;
	color: #666;
	line-height: 1.3; }

.writeInfomationSec .happyPoint .accList {
	margin: 0 auto;
	width: 284px; }
	.writeInfomationSec .happyPoint .accList .mod-accItem {
		position: relative;
		padding: 10px 0 10px 140px;
		min-height: 150px;
		width: 100%;
		overflow: hidden; 
		border-bottom: 1px solid #dadada;}
		.writeInfomationSec .happyPoint .accList .mod-accItem .thumb {
			position: absolute;
			top: 10px;
			left: 0;
			width: 130px;
			height: 130px; }
			.writeInfomationSec .happyPoint .accList .mod-accItem .thumb > img {
				width: 130px;
				height: 130px; }
		.writeInfomationSec .happyPoint .accList .mod-accItem label {
			display: inline-block;
			padding-top: 15px;
			text-align: left; }
		.writeInfomationSec .happyPoint .accList .mod-accItem select {
			width: 60px; 
			height: 25px;
			border: 1px solid #c2c2c2;}

.component-tooltip {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 100;
	box-sizing: border-box;
	padding: 15px 10px;
	border: 1px solid #ccc;
	background: #fff;
	color: #333; }

.component-tooltip .btnClose {
	position: absolute;
	top: 0;
	right: 0; }

/*! LNB : 요금정보표 (custom) : module/lnb.scss */
.writeInfomationSec.type-price .itemThumb {
	height: 300px; }

.writeInfomationSec.type-price .itemPriceTable {
	margin: 0 auto;
	padding-bottom: 15px; 
	width: 260px;}
	.writeInfomationSec.type-price .itemPriceTable > .tac:last-child {
		border-bottom: 0; }
	.writeInfomationSec.type-price .itemPriceTable > h3 {
		text-align: center;
		font-size: 21px;
		color: #000; }

.writeInfomationSec.type-price .selectedPriceType {
	margin: 0 auto;
	width: 95%; }
	.writeInfomationSec.type-price .selectedPriceType > p {
		padding: 15px 0;
		text-align: center;
		letter-spacing: -1px;
		font-size: 21px;
		color: #000; }
