@import "../_lib/val";

/*! μΈν„°λ„· : page/internet.scss */
.internetContentSec{
  .inner{
    >[class^=tab-]{margin-top:20px;}
    .offerSec{margin-top:10px;}
  }
  .paperSec{padding-top:15px;text-align:center;}
}