@import "../_lib/val";

/*! FOOTER : layout/footer.scss */
.footerSec{
  width:100%;min-width:$width-wrap;height:110px;overflow:hidden;background-color: #666666;color:#fff;
  .inner{margin:0 auto;width:$width-cont;overflow: hidden;}
  // 회사정보
  .company{float:left;padding-top:24px;
    strong{font-size:18px;font-weight:400;}
    p{font-size:11px;padding-top:5px;
      span{display:inline-block;padding-left:20px;}
    }
  }

  // 인포메이션
  .infomation{float:right;padding-top:24px;text-align:right;
    p.tel{font-size:18px;}
    p.time{font-size:11px;padding-top:5px;}
    p.holiday{font-size:13px;padding-top:5px;color:#ffff00;}
  }

}