@charset "UTF-8";


/*! 모듈공통 : module/all.scss */
[class^=mod-] {
	box-sizing: border-box; }
	[class^=mod-] * {
		box-sizing: border-box; }



/*! 버튼 모듈 : module/btn.scss */
[class^=btn-] {
	display: inline-block;
	padding-left: 45px;
	height: 47px;
	background-image: url("../images/common/btn.png");
	background-repeat: no-repeat; }
	[class^=btn-] > span {
		display: inline-block;
		padding: 10px 45px 0 0;
		height: 47px;
		background-image: url("../images/common/btn.png");
		background-repeat: no-repeat; 
		font-size: 22px;
		color: #fff;}

.btn-basic {
	background-position: 0 0; }
	.btn-basic > span {
		background-position: right 0; }



/*! LNB 요금계산기 : module/lnb.scss */
.writeInfomationSec {
	width: 315px;
	border: 1px solid #d3d3d3;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
	color: #666; }
	.writeInfomationSec h2.tit {
		padding-top: 13px;
		height: 52px;
		background-color: #1091d0; 
		text-align: center;
		font-size: 24px;
		color: #fff;}

.writeInfomationSec .itemThumb {
	position: relative;
	width: 313px;
	height: 368px; }
	.writeInfomationSec .itemThumb > img {
		width: 313px;
		height: 368px; }
	.writeInfomationSec .itemThumb > a.detail {
		position: absolute;
		top: 305px;
		left: 90px; }

.writeInfomationSec .itemReqeust {
	padding-bottom: 25px; }
	.writeInfomationSec .itemReqeust h3 {
		padding-left: 24px;
		background: url(../images/common/icoBlackCircle.gif) 10px 50% no-repeat;
		font-weight: 700;
		font-size: 16px;
		color: #666; }
	.writeInfomationSec .itemReqeust .telecomInfoSec {
		margin: 0 auto;
		padding-top: 30px;
		padding-bottom: 22px;
		width: 260px;
		background: url(../images/common/bulPlus.gif) center bottom no-repeat; 
		font-family: "dotum";}
	.writeInfomationSec .itemReqeust .deviceInfoSec {
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 40px;
		width: 260px;
		background: url(../images/common/bulEqual.gif) center bottom no-repeat; 
		font-family: "dotum";}
	.writeInfomationSec .itemReqeust .tac {
		box-sizing: border-box;
		margin-top: 5px;
		padding: 5px 10px;
		width: 100%;
		border-bottom: 1px solid #dadada; }
		.writeInfomationSec .itemReqeust .tac:after, .writeInfomationSec .itemReqeust .tac:before {
			display: table;
			content: "";
			line-height: 0; }
		.writeInfomationSec .itemReqeust .tac:after {
			clear: both; }
		.writeInfomationSec .itemReqeust .tac dt {
			float: left;
			font-weight: 700; 
			font-size: 14px;}
		.writeInfomationSec .itemReqeust .tac dd {
			float: right;
			text-align: right;
			font-weight: 700; 
			font-size: 12px;}
	.writeInfomationSec .itemReqeust .spec {
		box-sizing: border-box;
		margin-top: 5px;
		padding: 10px 10px;
		width: 100%;
		height: 36px;
		overflow: hidden;
		border-radius: 5px; 
		background: #8f8f8f;}
		.writeInfomationSec .itemReqeust .spec dt {
			float: left;
			letter-spacing: -1px; 
			font-weight: 700;
			font-size: 14px;
			color: #fff;}
		.writeInfomationSec .itemReqeust .spec dd {
			float: right;
			text-align: right;
			font-weight: 700; 
			font-size: 14px;
			color: #fff;}
	.writeInfomationSec .itemReqeust .total {
		box-sizing: border-box;
		margin: 0 auto;
		margin-top: 5px;
		padding: 6px 10px;
		width: 260px;
		height: 57px;
		overflow: hidden;
		border-radius: 5px; 
		background: #8f8f8f;}
		.writeInfomationSec .itemReqeust .total dt {
			float: left;
			text-align: center;
			font-weight: 700;
			font-size: 16px;
			color: #fff;
			line-height: 1.4; }
		.writeInfomationSec .itemReqeust .total dd {
			float: right;
			padding-top: 8px;
			vertical-align: baseline; 
			text-align: right;
			font-size: 14px;
			color: #fff;}
		.writeInfomationSec .itemReqeust .total dd > strong {
			font-size: 22px; }
	.writeInfomationSec .itemReqeust .desc {
		padding-top: 3px;
		text-align: right;
		font-size: 11px;
		color: #ff725d; }
	.writeInfomationSec .itemReqeust .text-md {
		font-size: 14px !important; }
	.writeInfomationSec .itemReqeust .text-minus {
		color: #ff3301; }
	.writeInfomationSec .itemReqeust .text-interest {
		color: #006ff9; }
	.writeInfomationSec .itemReqeust .help {
		position: relative; 
		vertical-align: middle;}

.writeInfomationSec .happyPoint .point {
	margin: 0 auto;
	padding: 13px 0;
	width: 284px;
	border-bottom: 1px solid #d3d3d3;
	text-align: center;
	font-weight: 400; 
	font-size: 20px;
	color: #000;}
	.writeInfomationSec .happyPoint .point > i {
		color: #ff0000; }

.writeInfomationSec .happyPoint .desc {
	margin: 0 auto;
	padding: 10px 0;
	padding-left: 17px;
	width: 284px;
	text-indent: -17px;
	font-size: 15px;
	color: #666;
	line-height: 1.3; }

.component-tooltip {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 100;
	box-sizing: border-box;
	padding: 15px 10px;
	border: 1px solid #ccc;
	background: #fff;
	color: #333; }

.component-tooltip .btnClose {
	position: absolute;
	top: 0;
	right: 0; }



/*! 핸드폰 리스트 아이템 : module/phoneItem.scss */
.mod-phoneItem {
	width: 210px;
	height: 307px;
	overflow: hidden;
	border: 1px solid #b4b4b4;
	box-shadow: 0 0px 10px #b3b3b3;
	font-size: 14px; 
	font-family: "dotum";}
	.mod-phoneItem .phoneLink {
		display: block;
		position: relative;
		width: 210px;
		height: 307px; }
		.mod-phoneItem .phoneLink > span {
			display: inline-block; }
		.mod-phoneItem .phoneLink .tit, .mod-phoneItem .phoneLink .price {
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center; }
		.mod-phoneItem .phoneLink .tit {
			top: 247px;
			color: #5d5d5d; }
		.mod-phoneItem .phoneLink .price {
			top: 272px;
			color: #e56464; }
		.mod-phoneItem .phoneLink .tacSec {
			position: absolute;
			top: 10px;
			right: 10px; }

.mod-phoneList {
	padding: 0 5px;
	max-width: 1223px;
	width: 100%;
	overflow: hidden; }
	.mod-phoneList .mod-phoneItem {
		float: left;
		margin-top: 40px;
		margin-left: 40px; }
		.mod-phoneList .mod-phoneItem:first-child {
			margin-left: 0; }
		.mod-phoneList .mod-phoneItem:nth-child(6n+0) {
			margin-left: 0; }
		.mod-phoneList .mod-phoneItem:nth-child(-n+5) {
			margin-top: 0; }
		.mod-phoneList .mod-phoneItem.no-nthchild-left {
			margin-left: 0; }
		.mod-phoneList .mod-phoneItem.no-nthchild-top {
			margin-top: 0; }



/*! 신청단계 : module/tab.scss */
[class^=step-] {
	width: 1224px;
	height: 60px;
	background-image: url("../images/common/tab.gif"); 
	background-repeat: no-repeat;}

.step-4up.step1 {
	background-position: 0 0; }

.step-4up.step2 {
	background-position: 0 -70px; }

.step-4up.step3 {
	background-position: 0 -140px; }

.step-4up.step4 {
	background-position: 0 -210px; }

.step-3up.step1 {
	background-position: 0 -280px; }

.step-3up.step2 {
	background-position: 0 -350px; }

.step-3up.step3 {
	background-position: 0 -420px; }

.step-3up.step4 {
	background-position: 0 -420px; }

/*! 탭링크 : module/tab.scss */
.tab-link {
	width: 1224px;
	overflow: hidden; }
	.tab-link > ul {
		position: relative;
		width: 100%;
		height: 60px;
		overflow: hidden; }
		.tab-link > ul li {
			position: absolute;
			top: 0;
			left: 0;
			height: 60px;
			border: 2px solid #cecece;
			background-color: #fff; }
			.tab-link > ul li a {
				display: inline-block;
				padding-top: 15px;
				width: 100%;
				height: 60px;
				text-align: center;
				font-size: 22px;
				color: #a0a0a0; }
			.tab-link > ul li.on {
				z-index: 2; 
				border: 2px solid #1a91d0;
				border-radius: 5px;
				background-color: #f8ffff;}
				.tab-link > ul li.on a {
					color: #0084c7; }
	.tab-link.tab-3up li {
		width: 33.6%; }
		.tab-link.tab-3up li:nth-child(1) {
			left: 0; }
		.tab-link.tab-3up li:nth-child(2) {
			left: 33%; }
		.tab-link.tab-3up li:nth-child(3) {
			left: 66%; }
	.tab-link.tab-2up li {
		width: 50.2%; }
		.tab-link.tab-2up li:nth-child(1) {
			left: 0; }
		.tab-link.tab-2up li:nth-child(2) {
			left: 49.8%; }
	.tab-link.tab-1up li {
		width: 100%; }
		.tab-link.tab-1up li:nth-child(1) {
			left: 0; }



/*! 핸드폰 아이템 라벨(택) : module/tac.scss */
.tacSec {
	width: 56px;
	overflow: hidden; }
	.tacSec > [class^=tac-] {
		margin-bottom: 4px; }

[class^=tac-] {
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url("../images/common/ico.png"); 
	background-repeat: no-repeat;}

.tac-max {
	background-position: 0 0; }

.tac-new {
	background-position: 0 -80px; }

.tac-free {
	background-position: 0 -160px; }



/*! 타이틀 모듈 : module/title.scss */
.title-main {
	min-width: 1224px;
	width: 100%;
	overflow: hidden; }
	.title-main > h2 {
		float: left;
		padding-left: 15px; }
		.title-main > h2 > span {
			font-size: 24px;
			color: #171717; }
		.title-main > h2 i + span {
			display: inline-block;
			padding-left: 5px; }
	.title-main .more {
		float: right; }

/*! 아이콘 모듈 */
i[class^=ico-] {
	display: inline-block; }

i.ico-cube {
	width: 19px;
	height: 19px;
	background: url("../images/common/ico.png") no-repeat -100px 0; }
