@charset "UTF-8";


/*! 사은품목록(전시용) : page/acc.scss */
.accContentSec .inner > [class^=step-] {
	margin-top: 20px; }

.accContentSec .inner .accListWrap {
	margin-top: 10px; }

.accContentSec .inner p.pageDesc {
	margin: 0 auto;
	padding-bottom: 15px;
	width: 1075px; }

.accListWrap {
	padding: 20px 15px 100px;
	width: 1224px;
	border: 1px solid #d3d3d3;
	background-color: #f9f9f9; }



/*! 신청영역(step2 , step3) 공통 폼 : page/all.scss */
.offerSec {
	display: table;
	min-height: 1114px;
	width: 1224px;
	border: 1px solid #d3d3d3;
	background-color: #f9f9f9; }
	.offerSec > * {
		vertical-align: top; }
	.offerSec .lnbSec {
		display: table-cell;
		position: relative;
		width: 315px;
		border-right: 1px solid #d3d3d3; 
		background-color: #fff;}
		.offerSec .lnbSec .writeInfomationSec {
			position: relative;
			top: 0px;
			left: 0px;
			border: 0; }
			.offerSec .lnbSec .writeInfomationSec.fixed {
				position: absolute;
				top: -1px;
				left: -1px;
				border: 1px solid #d3d3d3;
				border-width: 1px 1px 0 1px; }
	.offerSec .rightSec {
		display: table-cell;
		padding: 20px 15px 15px;
		width: 911px; }



/*! 인터넷 : page/internet.scss */
.internetContentSec .inner > [class^=tab-] {
	margin-top: 20px; }

.internetContentSec .inner .offerSec {
	margin-top: 10px; }

.internetContentSec .paperSec {
	padding-top: 15px;
	text-align: center; }



/*! 로그인 : page/login.scss */
.loginBody {
	display: table;
	width: 100%; 
	height: 100%;
	background-color: #fff;}
	.loginBody .bizsktWrap {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle; }

.loginWrap {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px 45px;
	width: 721px;
	border: 1px solid #a6a6a6;
	background-color: #f2f2f2;
	color: #666; }
	.loginWrap .titSec {
		padding-bottom: 10px; 
		border-bottom: 1px solid #bababa;}
		.loginWrap .titSec h1 {
			text-align: center;
			font-size: 22px;
			color: #5c575b; }
			.loginWrap .titSec h1 * {
				vertical-align: top; }
			.loginWrap .titSec h1 > span {
				display: inline-block;
				padding-top: 28px; }
		.loginWrap .titSec p {
			padding-top: 10px;
			text-align: center;
			font-size: 13px; }
			.loginWrap .titSec p b {
				font-weight: 700; 
				color: #595973;}
	.loginWrap .midSec {
		padding-bottom: 15px;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #bababa;
		/*! IE8 수정됨 */
		/*! // IE8 수정됨 */ }
		.loginWrap .midSec h2 {
			padding: 30px 0 20px; 
			text-align: center;}
		.loginWrap .midSec fieldset {
			position: relative;
			margin: 0 auto;
			width: 511px;
			height: 151px;
			border: 1px solid #a6a6a6; 
			background-color: #d9d9d9;}
			.loginWrap .midSec fieldset * {
				box-sizing: border-box; }
			.loginWrap .midSec fieldset > div {
				position: absolute;
				top: 0;
				left: 0; }
			.loginWrap .midSec fieldset input[type=text], .loginWrap .midSec fieldset input[type=password] {
				padding: 5px;
				height: 30px;
				border: 1px solid #a6a6a6;
				background: transparent; }
			.loginWrap .midSec fieldset .bul {
				display: inline-block;
				padding-left: 10px;
				width: 90px;
				background: url("../images/page/login/bul.jpg") no-repeat 0 6px;
				font-size: 15px;
				color: #7e807d; }
			.loginWrap .midSec fieldset .id {
				top: 38px;
				left: 38px; }
			.loginWrap .midSec fieldset .pw {
				top: 74px;
				left: 38px; }
			.loginWrap .midSec fieldset .submit {
				top: 34px;
				left: 375px; }
			.loginWrap .midSec fieldset .saveid {
				top: 113px;
				left: 136px; }
				.loginWrap .midSec fieldset .saveid * {
					vertical-align: middle; }
				.loginWrap .midSec fieldset .saveid label {
					font-size: 12px;
					color: #333;
					line-height: 1; }
		.loginWrap .midSec .desc {
			padding-top: 20px;
			text-align: center;
			font-size: 13px; }
		@media \0screen {
			.loginWrap .midSec .desc {
				letter-spacing: -1px; } }
	.loginWrap .coptrightSec {
		border-top: 1px solid #dfdfdf; 
		text-align: center;
		font-size: 12px;
		font-family: "dotum";
		color: #666;}
		.loginWrap .coptrightSec p {
			padding-top: 12px;
			line-height: 1.8; }
		.loginWrap .coptrightSec b {
			font-weight: 700; }



/*! 메인페이지 : page/main.scss */
.mainContentSec .inner > [class^=step-] {
	margin-top: 20px; }

.mainContentSec .inner .itemsArticle {
	margin-top: 35px; }
	.mainContentSec .inner .itemsArticle .mod-phoneList {
		margin-top: 15px; }



/*! 요금제 선택 : page/step2.scss */
.step2ContentSec .inner > [class^=step-] {
	margin-top: 20px; }

.step2ContentSec .inner .offerSec {
	margin-top: 10px; }

.writeFormSec {
	width: 100%; }
	.writeFormSec h2 {
		padding-bottom: 15px;
		border-bottom: 1px solid #d3d3d3;
		font-size: 24px;
		color: #000; }
	.writeFormSec select {
		height: 30px;
		border: 1px solid #707070;
		font-size: 18px; }
	.writeFormSec [type=text] {
		height: 26px;
		border: 1px solid #707070;
		font-size: 18px; }

.writeFormSec .writeFieldsetSec {
	box-sizing: border-box;
	min-height: 949px; 
	width: 100%;}

.writeFormSec .block-dl, .writeFormSec .inline-dl {
	padding-top: 20px;
	width: 100%; 
	overflow: hidden;}

.writeFormSec .inline-dl dt {
	float: left;
	padding-right: 15px; 
	font-size: 21px;
	color: #090909;}

.writeFormSec .inline-dl dd {
	float: left;
	font-size: 21px;
	color: #6b6a6a; }
	.writeFormSec .inline-dl dd > * {
		vertical-align: top; }

.writeFormSec .block-dl dt {
	padding-right: 15px; 
	font-size: 21px;
	color: #090909;}

.writeFormSec .block-dl dd {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 21px;
	color: #6b6a6a; }
	.writeFormSec .block-dl dd > b {
		color: #000; }

.writeFormSec .planTableSec table {
	width: 100%; }

.writeFormSec .planTableSec table thead th {
	padding: 10px 0;
	background: #a7a7a7;
	text-align: center;
	font-size: 21px; 
	color: #fff;}

.writeFormSec .planTableSec table tbody td {
	padding: 4px 0;
	text-align: center; 
	font-size: 21px;}

.writeFormSec .planTableSec table tbody td.planName {
	text-align: left; }

.writeFormSec .requestBnrSec {
	padding-top: 15px; }

.writeFormSec .addressFormSec > div {
	padding-top: 0; }

.writeFormSec .addressFormSec .row {
	padding-top: 5px;
	padding-bottom: 0px; }

.writeFormSec .addressFormSec .row * {
	vertical-align: middle; }

.writeFormSec .addressFormSec label {
	padding-left: 10px;
	background: url(/images/common/bul/icoGrayCircle.gif) 0 10px no-repeat; }

.writeFormSec .addressFormSec input[type=text] {
	box-sizing: border-box;
	padding: 0 5px;
	width: 100%;
	height: 27px;
	border: 1px solid #d2d2d2; }

.writeFormSec .addressFormSec .expressInp {
	display: inline-block;
	padding: 0 10px;
	width: 100px; }

.writeFormSec .addressFormSec .postInp {
	display: inline-block; }

.writeFormSec .addressFormSec .postInp input[type=text] {
	width: 100px; }

.writeFormSec .addressFormSec .postInp2 {
	display: inline-block; }

.writeFormSec .addressFormSec .postInp2 input[type=text] {
	width: 140px; }

.writeFormSec .etcTextareaSec {
	padding-top: 5px; }

.writeFormSec .etcTextareaSec textarea {
	box-sizing: border-box;
	padding: 10px;
	min-height: 30px;
	width: 100%;
	font-weight: 400; 
	font-size: 13px;}

.writeFormSec .requestCheckListSec {
	padding-top: 15px; }

.writeFormSec .requestCheckListSec .checklist li {
	padding-bottom: 5px; 
	font-size: 12px;}

.writeFormSec .submitSec {
	margin-top: 20px;
	padding-top: 35px;
	border-top: 1px solid #d3d3d3;
	text-align: center; }

.writeFormSec .writePaperBtnSec {
	box-sizing: border-box;
	margin-top: 10px;
	padding: 15px 0;
	width: 100%;
	border: 1px solid #d2d2d2; 
	text-align: center;}

.writeFormSec .writePaperBtnSec a {
	display: inline-block;
	padding: 0 10px; }

.writeFormSec .noticeDesc {
	padding-top: 10px;
	padding-left: 16px;
	font-size: 18px; 
	color: #d64c4c;}



/*! 사은품 선택 : page/step3.scss */
.step3ContentSec .inner > [class^=step-] {
	margin-top: 20px; }

.step3ContentSec .inner .offerSec {
	margin-top: 10px; }

.step3ContentSec .inner .pageDesc {
	padding-bottom: 15px; }

.accSelectFormSec {
	width: 100%; }
	.accSelectFormSec .accSelectFieldsetSec {
		box-sizing: border-box;
		min-height: 860px; 
		width: 100%;}
	.accSelectFormSec .submitSec {
		margin-top: 20px;
		padding-top: 35px;
		border-top: 1px solid #d3d3d3;
		text-align: center; }



/*! 월납무 총액 : page/step4.scss */
.step4ContentSec .inner > [class^=step-] {
	margin-top: 20px; }

.step4ContentSec .inner .offerSec {
	margin-top: 10px; }

.step4ContentSec .inner .pageDesc {
	padding-bottom: 15px; }

.step4ContentSec .inner .pagetit {
	padding-top: 25px;
	border-bottom: 1px solid #d3d3d3; }
	.step4ContentSec .inner .pagetit:first-child {
		padding-top: 0; }

.step4ContentSec .inner .btnSec {
	text-align: center; }

.step4ContentSec .inner .formBnrSec {
	margin-top: 35px; }

.monthBaseTotalSec {
	width: 100%;
	overflow: hidden; }
	.monthBaseTotalSec .row {
		box-sizing: border-box;
		padding: 20px 16px;
		width: 100%;
		overflow: hidden; 
		border-bottom: 1px solid #d3d3d3;}
	.monthBaseTotalSec p {
		padding: 5px 0;
		font-size: 21px;
		color: #000; }
	.monthBaseTotalSec i {
		color: #fe0000; }
	.monthBaseTotalSec [class^=ico-] {
		position: absolute;
		top: 0;
		left: 0; }
	.monthBaseTotalSec .real {
		position: relative;
		float: left;
		box-sizing: border-box;
		padding-left: 64px; 
		width: 50%;}
	.monthBaseTotalSec .month {
		position: relative;
		float: left;
		box-sizing: border-box;
		padding-left: 84px; 
		width: 50%;}
	.monthBaseTotalSec .total {
		position: relative;
		box-sizing: border-box;
		margin-top: 5px;
		padding: 15px 0 15px 85px;
		width: 100%;
		overflow: hidden;
		background-color: #e6e6e6; }
		.monthBaseTotalSec .total .subTxt {
			font-size: 19px; }
		.monthBaseTotalSec .total i {
			font-weight: 400; 
			font-size: 27px;}
		.monthBaseTotalSec .total .comment {
			letter-spacing: -1px; 
			font-weight: 700;
			font-size: 14px;
			font-family: "dotum";
			color: #494949;}
		.monthBaseTotalSec .total .ico-won {
			top: 16px; 
			left: 21px;}

.usedPhoneBenefitSec {
	position: relative;
	box-sizing: border-box;
	margin-top: 15px;
	padding: 25px 0 0 80px;
	width: 100%;
	height: 97px;
	overflow: hidden;
	border: 1px solid #989898;
	background-color: #fff;
	box-shadow: 0px 0px 6px #c7c7c7; }
	.usedPhoneBenefitSec [class^=ico-] {
		position: absolute;
		top: 13px;
		left: 18px; }
	.usedPhoneBenefitSec p {
		padding-bottom: 10px;
		font-size: 21px;
		color: #000; }
	.usedPhoneBenefitSec i {
		color: #fe0000; }
	.usedPhoneBenefitSec .comment {
		letter-spacing: -1px; 
		font-weight: 700;
		font-size: 14px;
		font-family: "dotum";
		color: #494949;}

.userInfoSec {
	padding-top: 15px; }
	.userInfoSec > table {
		width: 100%; }
		.userInfoSec > table th {
			padding-left: 20px;
			text-align: left; 
			font-size: 21px;
			color: #000;}
		.userInfoSec > table th, .userInfoSec > table td {
			padding-bottom: 10px; }
		.userInfoSec > table input[type=text], .userInfoSec > table select {
			box-sizing: border-box;
			height: 30px;
			border: 1px solid #707070;
			background-color: #fff; }
		.userInfoSec > table input[type=text] {
			padding: 0 10px; }

/*! IE8 수정 */
@media \0screen {
	.userInfoSec > table select {
		padding-bottom: 5px; } }

/*! // IE8 수정 */
.userAgreeSec {
	padding-top: 15px;
	font-family: "dotum"; }
	.userAgreeSec > div {
		padding-bottom: 15px;
		padding-left: 33px; }
		.userAgreeSec > div * {
			vertical-align: middle; }
	.userAgreeSec [type=checkbox] {
		width: 20px;
		height: 20px; }
	.userAgreeSec label {
		display: inline-block;
		padding-left: 5px;
		font-weight: 700; 
		font-size: 14px;
		color: #484848;}
	.userAgreeSec .all {
		padding-top: 15px; 
		border-top: 1px solid #ccc;}

/*! 신청주문번호 : page/step4.scss */
.requestNumberSec {
	padding-top: 35px; 
	text-align: center;}
	.requestNumberSec h2 {
		display: inline-block;
		position: relative;
		padding-left: 35px;
		height: 45px;
		font-size: 26px;
		color: #000; }
		.requestNumberSec h2 i {
			color: #fe0000; }
		.requestNumberSec h2 [class^=ico-] {
			position: absolute;
			top: 2px;
			left: 0; }
	.requestNumberSec p {
		text-decoration: underline;
		font-weight: 700; 
		font-size: 14px;
		color: #494949;}
