@charset "UTF-8";

/*! RESET : reset/reset.scss */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;}

html {
	height: 101%; }

body {
	font-size: 62.5%;
	font-family: "Noto Sans KR", sans-serif; 
	line-height: 1;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none; }

strong {
	font-weight: bold; }

table {
	border-spacing: 0; 
	border-collapse: collapse;}

img {
	max-width: 100%; 
	border: 0;}

dt {
	display: block; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	padding: 0;
	overflow: visible;
	border: 0;
	background: none;
	/* cursor: default; */
	font: inherit;
	color: inherit;
	line-height: normal;

	-webkit-appearance: button;
	/* for input */
	-webkit-user-select: none;
	/* for button */
	-moz-user-select: none;
	-ms-user-select: none; }

input[type="button"], button {
	cursor: pointer; }

input::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0; 
	border: 0;}

a {
	text-decoration: none; }

a:hover {
	text-decoration: underline; }

/* Make `a` like a button */
[role="button"] {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	white-space: pre;
	color: inherit;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; }
